<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts :: head(title='Products')">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
    </head>
    <body>
        <nav th:replace="layouts :: navbar"></nav>

        <div class="container">
            <form action="/products/save" method="POST" th:object="${anything}">
              <fieldset>
                <h4>New Product</h4>
                <hr class="mb-4" />
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Product Name"
                    th:field="*{productName}"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Price</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Enter Product Price"
                    th:field="*{productPrice}"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Create Product</button>
              </fieldset>
            </form>
          </div>
    </body>

</html>