<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- <head th:replace="layouts :: head(title='Home')"> -->
  	<script src="">
  	</script>
  </head>
  <body>
  
                    <div class="simpleLogin">
                            <form>
                            <legend> ** Welcome To IHAI.Co **</legend>
                            <fieldset>
                                <input id="name" placeholder="Full Name" type="text">
                                <input id="pass" placeholder="Password" type="password">
                                <input id="submit" type="submit" value="Log in">
                            </fieldset>
                            </form>
                        </div>       
  </body>
</html>
